/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'pressStart';
    src: url('assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf');
  }

body {
  font-family: 'pressStart';
  color: black;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

.Component {
  font-size: 8px;
  border: 1px solid red;
  padding: 1px 2px;
  margin: 1px;
}